.body{
    padding: 20px;
}
.bars{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.bar{
    background-color: white;
    height: 100px;
    width: 20px;
    
}


  
  .bar.checking {
    background-color: yellow;
  }
  
  .bar.swap {
    background-color: red;
  }
  .bar.correct {
    background-color: green;
  }